.btn {
  display: block;
  background: white;
  padding: 15px;
  margin: 15px 0;
  text-align: center;
  text-decoration: none;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
